<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

    <filter>
        <blacklist>
            <directory suffix=".php">../modules/tests</directory>
        </blacklist>
	   
	    <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../modules/</directory>
	        <exclude>
                <directory suffix=".php">../modules/*/tests</directory>
	        </exclude>
        </whitelist>
    </filter>
	
	<testsuites>
        <testsuite name="cm">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">../modules/cm/tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
